<div class="cart-actions" th:if="${cart.itemCount > 0 and isConfirmationContext == null and isCheckoutContext == null}">
    <div>
        <a th:href="@{/checkout}" class="btn btn-primary">
            <span th:utext="#{cart.checkout}">Checkout</span> <i class="material-icons">keyboard_arrow_right</i>
        </a>
    </div>
    <div class="cart-action-divider">or</div>
    <div>
        <form blc:sample_payment_hosted_action="${#paymentMethod.getPaymentRequestDTO()}" complete_checkout="${false}" method="POST">
            <input type="hidden" name="TRANSACTION_AMT" th:value="${cart.total}"/>
            <input type="hidden" name="ORDER_ID" th:value="${cart.id}"/>
            <input type="hidden" name="COMPLETE_CHECKOUT_ON_CALLBACK" value="false"/>
            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="center" alt="Submit Form" />
        </form>
    </div>
</div>
<div class="cart-actions js-hiddenPerformCheckoutActions is-hidden" th:if="${isCheckoutContext != null and isConfirmationContext == null}">
    <a href="#" class="btn btn-primary pull-right js-performCheckout">
        <span th:utext="#{checkout.completion.submit}">Place Your Order</span> <i class="material-icons">keyboard_arrow_right</i>
    </a>
</div>