<div id="account" layout:decorate="~{layout/fullPageLayout}" layout:fragment="content">
    <head>
        <title>Forgot Password</title>
    </head>

    <div class="section">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="js-responsive-card js-responsive-card-signup">
                <h3 class="header header-primary card-title text-center" th:utext="#{forgot.title}">Forgot Password</h3>
                <p th:utext="#{forgot.instructions}">Enter your email address to retrieve your password.</p>

                <span class="text-danger" th:switch="${errorCode}" th:if="${errorCode}">
            <p th:case="'invalidCustomer'" th:utext="#{forgot.noMatch}">
                No matching email found.
            </p>
            <p th:case="'inactiveCustomer'" th:utext="#{forgot.inactive}">
                The email you entered is marked as inactive. Please contact an administrator to activate your account.
            </p>
            <p th:case="*" th:utext="#{forgot.unknown}">
                Unknown error.
            </p>
        </span>

                <blc:form th:action="@{/login/forgotPassword}" method="post">
                    <div class="form-group label-floating">
                        <label class="control-label" for="emailAddress" th:utext="#{forgot.email}">Email</label>
                        <input class="form-control" type="email" name="emailAddress"/>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit" th:utext="#{forgot.getPassword}">Get Password
                        </button>
                    </div>
                    <div class="text-center">
                        <a class="account" th:href="@{/login}" th:utext="#{forgot.login}">Login</a>
                        |
                        <a class="account" th:href="@{/register}" th:utext="#{forgot.register}">Register</a>
                    </div>
                </blc:form>
            </div>
        </div>
    </div>
</div>