<div id="account" layout:decorate="~{layout/fullPageLayout}" layout:fragment="content">
    <head>
        <title>Login</title>
    </head>

    <div class="section">
        <div class="row row-centered">
            <div id="login" class="login col-sm-5 col-centered">
                <div th:replace="authentication/loginForm"></div>
            </div>
            <div class="col-sm-1 col-centered hidden-xs">
                <div class="col-centered-separator"></div>
            </div>
            <div id="register" class="register col-sm-5 col-centered">
                <div th:replace="authentication/registerForm"></div>
            </div>

        </div>
    </div>
</div>