<div id="read_only_payment_methods" th:fragment="read-only-payment-methods">
    <div class="js-readOnlyPaymentMethod" data-type="CreditCard">
        <th:block th:replace="~{checkout/payment/creditCardPaymentMethodForm :: read-only}" />
    </div>

    <div class="js-readOnlyPaymentMethod is-hidden" data-type="PayPal">
        <th:block th:replace="~{checkout/payment/payPalPaymentMethodForm :: read-only}" />
    </div>

    <div class="js-readOnlyPaymentMethod is-hidden" data-type="COD">
        <th:block th:replace="~{checkout/payment/codPaymentMethodForm :: read-only}" />
    </div>
</div>

<div id="payment_methods" th:fragment="payment-methods">
    <div class="payment-method-selectors js-paymentMethodSelectors">
        <div class="nav-align-center">
            <ul class="nav nav-pills nav-pills-primary text-center">
                <li class="center-pill active" data-value="CreditCard">
                    <a href="#CreditCard" data-toggle="pill" th:utext="#{checkout.paymentMethod.creditCard}">Credit Card</a>
                </li>
                <li class="center-pill" data-value="PayPal">
                    <a href="#PayPal" data-toggle="pill" th:utext="#{checkout.paymentMethod.payPal}">PayPal</a>
                </li>
                <li class="center-pill" data-value="COD">
                    <a href="#COD" data-toggle="pill" th:utext="#{checkout.paymentMethod.cod}">Collect On Delivery</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="payment-method-content">
        <div th:unless="${#checkoutForm.shouldShowAllPaymentMethods()}" class="payment_info js-paymentInfoForm">
            <ul th:if="${#paymentMethod.cartContainsThirdPartyPayment()}">
                <li><img th:src="@{/img/payment/paypal-curved-32px.png}"/></li>
            </ul>
        </div>

        <div th:if="${#checkoutForm.shouldShowAllPaymentMethods()}" class="payment_info js-paymentInfoForm">
            <div class="tab-content">
                <div id="CreditCard" class="tab-pane active">
                    <th:block th:replace="~{checkout/payment/creditCardPaymentMethodForm :: form}" />
                </div>
                <div id="PayPal" class="tab-pane">
                    <th:block th:replace="~{checkout/payment/payPalPaymentMethodForm :: form}" />
                </div>
                <div id="COD" class="tab-pane">
                    <th:block th:replace="~{checkout/payment/codPaymentMethodForm :: form}" />
                </div>
            </div>
        </div>
    </div>
</div>