<th:block layout:decorate="~{layout/checkoutPageLayout}" th:with="isConfirmationContext=${true}">
    <head>
        <title th:utext="|Order Confirmation ${order.orderNumber}|"></title>
    </head>

    <div id="order_confirmation" class="order-confirmation row" layout:fragment="content">
        <div class="col-lg-12">
            <div class="card confirmation-card">
                <th:block th:replace="checkout/partials/confirmationMessages" />
            </div>
        </div>

        <div class="col-lg-8">
            <th:block th:unless="*{type?.type == 'GIFT_CARD' or type?.type == 'DIGITAL' or type?.type == 'PHYSICAL_PICKUP'}">
                <th:block th:replace="~{checkout/partials/confirmationShippingInfo}" />
            </th:block>

            <th:block th:replace="~{checkout/partials/confirmationPaymentInfo}" />
        </div>

        <div class="col-lg-4" th:with="cart=${order}">
            <th:block th:replace="cart/partials/cartPricingSummary" />

            <th:block th:replace="cart/partials/cartItemSummary" />
        </div>
    </div>

</th:block>
